body{
  font-family: Arial, sans-serif;
  background:#f5f6fa;
}
.container{
  max-width:600px;
  margin:40px auto;
  background:#fff;
  padding:20px;
  border-radius:8px;
}
input, textarea{
  width:100%;
  padding:10px;
  margin:8px 0;
}
form{
    padding: 20px;
}
button{
  background:rgb(52, 52, 188);
  color:#fff;
  padding:10px 20px;
  border:none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  cursor:pointer;
  border-radius: 15px;
}